version: 2
jobs:
  build:
    steps:
    - checkout
    # - run: yarn test
    node:
      version: 6.1.0

  test:
    override:
      - npm run test+coverage

  deployment:
    npm:
      tag: /v[0-9]+(\.[0-9]+)*/
      owner: groupby
      commands:
        - echo "//registry.npmjs.org/:_authToken=${NPM_API_KEY}" > ~/.npmrc
        - npm run build
        - npm publish
